html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

#introText, #playingText {

  position: absolute;
  top: 50%;
  left: 50%;
}

.innerWrap {
	position: relative;
	transform: translate(-50%,-50%);
}

hr {
	border: none;
	background-color: #000;
	height: 2px;
}

h1 {
	font-size: 18px;
	font-weight: 700;
}

p {
	font-size: 16px;
	font-weight: 400;
}

#start {
	box-shadow: 0 2px 0 0;
	
}

#start:hover {
	font-weight: 700;
	cursor: pointer;
}

#instruc {
	color: rgb(50,175,110);
}


